n8n-workflow-example.json
{
  "name": "AI Voice Assistant Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-voice",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "ai-voice-webhook"
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-3.5-turbo"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are a helpful AI assistant. Respond to user queries and ask quiz questions about geography. When the user answers correctly, respond with responseType: 'correct'. Keep responses concise and engaging.\"}, {\"role\": \"user\", \"content\": \"{{ $json.transcript }}\"}]"
            },
            {
              "name": "max_tokens",
              "value": 150
            }
          ]
        },
        "options": {}
      },
      "id": "openai-request",
      "name": "OpenAI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.choices[0].message.content.toLowerCase() }}",
              "operation": "contains",
              "value2": "correct"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "check-correct",
      "name": "Check if Correct",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "responseText",
              "value": "={{ $json.choices[0].message.content }}"
            },
            {
              "name": "responseType",
              "value": "correct"
            },
            {
              "name": "metadata",
              "value": "={\"model\": \"gpt-3.5-turbo\", \"timestamp\": \"{{ $now }}\", \"source\": \"n8n-workflow\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-correct-response",
      "name": "Set Correct Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "responseText",
              "value": "={{ $json.choices[0].message.content }}"
            },
            {
              "name": "responseType",
              "value": "info"
            },
            {
              "name": "metadata",
              "value": "={\"model\": \"gpt-3.5-turbo\", \"timestamp\": \"{{ $now }}\", \"source\": \"n8n-workflow\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-info-response",
      "name": "Set Info Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI API": {
      "main": [
        [
          {
            "node": "Check if Correct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Correct": {
      "main": [
        [
          {
            "node": "Set Correct Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Info Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Correct Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Info Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "ai-voice-workflow",
  "tags": ["ai", "voice", "webhook"]
} 